/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

body {
    background-color: #F5F7F8;
}

.logo {
	background-image: url('../images/logo.png');
	float: left;
}

.lfr-ddm-form-paginated.yui3-widget.liferay-ddm-form-renderer-pagination {
	text-align: center;
}

.page-maximized {
	.ddl-form-builder-app {
		margin-bottom: 20px;
	}

	.lfr-ddm-form-page-description {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width: 768px) {
	.logo {
		background-size: 255px;
		width: 255px;
		height: 63px;
		margin-top: 60px;
	}
}

@media (max-width: 767px) {
	.logo {
		background-size: 192px;
		margin-top: 20px;
		width: 192px;
		height: 48px;
	}
}

#form-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#banner {
	text-align: center;
	width: 100%;
}

.form-wrapper-content {
    flex: 1 0 auto;
}

#footer {
	background-color: #FFF;
    padding: 42px 20px;
    color: #869CAD;

	a {
		font-weight: bold;
	}
}

.yui3-widget.tabbable {
    display: none;
}
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */